* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.logo-topo-index {
    padding-top: 18px;
    margin-left: 80px;
    width: 130px;
    position: fixed;
}

.logo-footer {
    height: 100px;
}

.logo-text {
    padding-left: 220px;
}
