<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <img src="img/logo-min.png" class="logo-topo-index" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand font-leilao-de-quadrinhos logo-text" href="../../index.html">
    Leilão de Quadrinhos
  </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Categorias<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Como funciona</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../cadastrar_produto.html">Anunciar</a>
            </li>
        </ul>
        <form class="form-inline">
            <div class="form-row">
                <div class="col-12 col-md-8 ">
                        <input class="form-control mr-sm-0" type="search" placeholder="Nome do quadrinho..." aria-label="Search">

                </div>
                <div class="col-12 col-md-4  text-left">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Procurar</button>

                </div>
            </div>
        </form>
        <div id="user_icon"></div>
    </div>
</nav>




<script>
    $(function() {
        $('#user_icon').load('./components/user-icon/user_icon.html');
    });
</script>
