.cx-item{
    position: relative;
    border-radius: 5%;
    width: 100%;
    
    
}

.cx-header{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: rgba(52,58,64,0.9);
    border-bottom: 2px solid black;
}

.cx-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 73px;
}
.cx-body{
    width: 100%;
}


.btn-dar-lance{
    height: 73px;
}

.cx-body:hover{
    transform:perspective(5)
}

@media only screen and (max-width: 1000px) {
.cx-item{
    margin-top: 15px;
}
}

