.td-img {
    width: 10%;
}

.td-titulo {
    width: 30%;
}

.td-dados {
    width: 10%;
}

.td-ativar {
    width: 10%;
}

.td-status {
    width: 10%;
}
.btn-form-modal,
.btn-barra{
    width: 100%;
}

@media (max-width: 768px) 
{
    .td-img {
        width: 50%;
    }
    
}
tr td img{
    cursor: pointer;
}