.td-img {
    width: 20%;
}

.td-titulo {
    width: 20%;
}

.td-dados {
    width: 5%;
}

.td-ativar {
    width: 5%;
}
th{
    font-size: 18px;
}
.td-status {
    width: 5%;
}
.btn-form-modal,
.btn-barra{
    width: 100%;
}

@media (max-width: 768px) 
{
    .td-img {
        width: 50%;
    }
    
}
tr td img{
    cursor: pointer;
}

span{
    font-size: 18px;
}
