.td-img {
    width: 20%;
}
.td-img-participations{
    width: 20%;
}
.td-titulo-participations{
    width: 20%;
}
.td-lance-participations{
    width: 20%;

}
.td-vlr-atual-participations{
    width: 20%;
}
.td-status-participations{
    width: 20%;
  
}
.td-titulo {
    width: 20%;
}

.td-dados {
    width: 5%;
}

.td-ativar {
    width: 5%;
}
th{
    font-size: 18px;
}
.td-status {
    width: 5%;
}
.btn-form-modal,
.btn-barra{
    width: 100%;
}

@media (max-width: 768px) 
{
    .td-img {
        width: 50%;
    }
    .caixa-loading{
        margin-top: 30px
    }
}
tr td img{
    cursor: pointer;
}

span{
    font-size: 18px;
}
