.h1-sobre{
    background-image: url(../img/logo-min.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 330px;
}

@media only screen and (max-width: 768px) {
    .img-iftm{
        margin-bottom: 25px;
    }
    }
    
.linkGit{
    background-image: url(../img/github.png );
    background-repeat: no-repeat;
    background-size: 100%;
}