
    <!-- Modal ativar leilao -->
    <div class="modal fade" id="modalLeilao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class=" modal-content">
                <div class="modal-header bg-dark text-light">
                    <h4 class="modal-title" id="exampleModalLabel">Criar leilão <span id="titleQuadrinho"></span></h4>
                    <button type="button" id="btnFechaModalAtivaLeilao" class="close" data-dismiss="modal">
                        <span aria-hidden=" true" class="text-light pt-3">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="col-12 text-center pt-3">
                                    <img class="img-fluid" id="capaQuadrinho" width="125px"  alt="">

                                </div>
                            </div>
                            <div class="col-12 col-md-7  text-left">
                                <form id="formCadastroQuadrinho">
                                    <input type="hidden" id="idProduct">
                                    <div class="col-12 pt-3">
                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label for="títuloQuadrinho">Data inicio</label>
                                                <input type="date" class="form-control " id="dt-inicio"
                                                    placeholder="Insira o data de inicio do leilao"
                                                    onblur="verifyInputModalCriarLeilao(this.id)">
                                                <div class="invalid-feedback text-center d-none col-12 pt-2 text-danger"
                                                    id="aviso-erro-data">
                                                    Data de inicio inválida!
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                <label for="títuloQuadrinho" style="letter-spacing: 0px;">Duração(em
                                                    dias)</label>
                                                <span type="button" style="float: right"
                                                    class="bg-dark px-2 text-light mr-1" data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="Insira em dias o tempo de duração deste item...">
                                                    ?
                                                </span>
                                                <input type="text" class="form-control" maxlength="3" id="duracao" placeholder="0"
                                                    onblur="verifyInputModalCriarLeilao(this.id)">
                                                <div class="invalid-feedback text-center d-none col-12 pt-2 text-danger"
                                                    id="aviso-erro-duracao">
                                                    Informe em dias o tempo de duração deste quadrinho!!
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                            </div>

                        </div>


                        <div class="row pt-4">
                            <div class="col-12 col-md-6">
                                <div class="form-group col-12">
                                    <label for="títuloQuadrinho" style="font-size: 19px;letter-spacing: 0px;"> Valor
                                        Inicial(R$)</label>
                                    <span type="button" style="float: right" class="bg-dark px-2 text-light mr-1"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Insira em reais o valor inicial deste item...">
                                        ?
                                    </span>
                                    <input type="text" class="form-control " id="vlr-inicial" placeholder="R$ 0.00"
                                        onKeyPress="return(moeda(this,'.',',',event))"
                                        onblur="verifyInputModalCriarLeilao(this.id)">
                                    <div class=" invalid-feedback text-center d-none col-12 pt-2 text-danger"
                                        id="aviso-erro-vlrInicial">
                                        Informe o valor inicial deste leilão!!
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group col-12">
                                    <label for="títuloQuadrinho" style="font-size: 19px;letter-spacing: 0px;"> Lance
                                        Padrão(R$)</label>
                                    <span type="button" style="float: right" class="bg-dark px-2 text-light"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Insira o padrão de lance para este item (Por exemplo: se você esolher 5, os usuários so irão dar lances de 5 reais!!)...">
                                        ?
                                    </span>
                                    <input type="text" class="form-control " id="lancePadrao" placeholder="R$ 0.00"
                                        onKeyPress="return(moeda(this,'.',',',event))"
                                        onblur="verifyInputModalCriarLeilao(this.id)">
                                    <div class=" invalid-feedback text-center d-none col-12 pt-2 text-danger"
                                        id="aviso-erro-lancePadrao">
                                        Informe o valor de lance padrão para este leilão!!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="button" id="btnAtivarLeilao" class="btn btn-success btn-form-modal"
                                value="Confirmar" onclick="validFormCriarLeilao()">

                        </div>
                        <div class="col-3">
                            <input type="reset" class="btn btn-warning btn-form-modal" value="Limpar">
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>

                    </div>
                </div>
                <div class="modal-footer bg-dark">
                </div>
            </div>
        </div>
    </div>
