<!-- Split dropleft button -->
<div class="btn-group d-none  d-lg-block">
    <div class="btn-group dropleft" role="group">
        <button type="button"
            class="btn btn-outline-danger oi oi-person rounded-circle rounded-div d-flex justify-content-center align-items-center"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="../../alterardadospessoais.html">Alterar meus dados</a>
            <a class="dropdown-item" href="../../login.html">Sair</a>

        </div>
    </div>

</div>

<div class="btn-group d-block d-lg-none">
    <div class="btn-group dropright" role="group">
        <button type="button"
            class="btn btn-outline-danger oi oi-person rounded-circle rounded-div d-flex justify-content-center align-items-center"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Alterar meus dados</a>
            <a class="dropdown-item" href="../../login.html">Sair</a>

        </div>
    </div>

</div>