<!-- Split dropleft button -->
<div class="btn-group d-none  d-lg-block">
    <div class="btn-group dropleft" role="group">
        <button id="userIconStatus" type="button"
            class="btn rounded-circle rounded-div d-flex justify-content-center align-items-center loggedOut"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="window.open('login.html', '_self')">
            <span class="oi oi-person"></span>            
        </butto>
        <!-- <div class="dropdown-menu">
            <a class="dropdown-item" href="../../login.html">Login</a>
            <a class="dropdown-item" href="../../alterar-dados-usuario.html">Alterar meus dados</a>
            

        </div> -->
    </div>

</div>

<div class="btn-group d-block d-lg-none">
    <div class="btn-group dropright" role="group">
        <button type="button"
            class="btn btn-outline-danger  rounded-circle rounded-div d-flex justify-content-center align-items-center"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="oi oi-person"></span>

        </button>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Alterar meus dados</a>
            <a class="dropdown-item" href="../../login.html">Sair</a>

        </div>
    </div>

</div>