<footer class="footer mt-4 bg-dark  text-light">
    <div class="container">
        <div class="row ">
            <div class=" col-12 col-lg-3  mt-4 mb-4">
                <h5>Services</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, facere ipsum. Officia
                    soluta non sapiente molestias</p>
                <a class="btn btn-md bg-info btn-fb mx-1" type="button" role="button"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-md bg-info btn-tw mx-1" type="button" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-md bg-info btn-git mx-1" type="button" role="button"><i class="fab fa-github"></i></a>
            </div>
            <div class=" col-12  col-lg-3 mt-4 mb-4 ">
                <h5>Services</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, facere ipsum. Officia
                    soluta non sapiente molestias</p>
                <a class="btn btn-md bg-info btn-fb mx-1" type="button" role="button"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-md bg-info btn-tw mx-1" type="button" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-md bg-info btn-git mx-1" type="button" role="button"><i class="fab fa-github"></i></a>
            </div>
            <div class="d-lg-block d-md-none d-sm-none d-none  col-12 col-lg-3 mt-4 mb-4 border-right">
                <h5>Services</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, facere ipsum. Officia
                    soluta non sapiente molestias</p>
                <a class="btn btn-md bg-info btn-fb mx-1" type="button" role="button"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-md bg-info btn-tw mx-1" type="button" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-md bg-info btn-git mx-1" type="button" role="button"><i class="fab fa-github"></i></a>
            </div>
            <div class=" col-12 col-lg-3 mt-4 mb-4 my-auto pb-5 text-center">
                <div class="col-12 ">
                    <a href="../../index.html"><img src="img/logo_leilao_de_quadrinhos.png" class="logo-footer" alt=""></a>
                </div>
            </div>

</footer>