    <!-- Modal Carregando -->
    <div class="modal fade" id="modalCadastrandoLeilao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class=" modal-content">
            <div class="modal-header bg-dark text-light">                   
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" id="idProduct">

                            <div id="divCarregando" class="progresso py-4">
                                <div class="row ">
                                    <div class="col-12 text-center">
                                        <h4>Cadastrando leilão...</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <img src="img/Spinner-1s-200px.gif" alt="" srcset="">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>



                </div>
   
            </div>
            <div class="modal-footer bg-dark">
            </div>
        </div>
    </div>
</div>