<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-light">
          <h5 class="modal-title" id="exampleModalLongTitle">Como Funciona</h5>
          <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span aria-hidden=" true" class="text-light pt-3">X</span>
          </div>
        <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lhLb7byhqXg" allowfullscreen></iframe>
              </div>       
            <!-- <a href="#" class="pt-2 text-dark"></a> -->
            <h3>Como funciona:</h3>
            <h4>Transcrição:</h4>
            <p style="letter-spacing: 0px; font-family: 'Courier New', Courier, monospace; font-weight: bold">Narrador Rafael Sotero diz: Hoje estou aqui para apresentar o site leilãodequadrinhos.com, é um site onde que você usuário e também fã de quadrinhos pode cadastrar os seus quadrinhos e leiloar pelo melhor preço. Aquele quadrinho que você já tá enjoado mas que vai fazer outra pessoa muito feliz. E se você quiser você também pode dar lance nos quadrinhos cadastrados tá? </p>

            <p style="letter-spacing: 0px; font-family: 'Courier New', Courier, monospace; font-weight: bold">Todo quadrinho tem um lance padrão determinado pelo anunciante, o anunciante coloca o lance, coloca o quadrinho, faz o anúncio e coloca também coloca uma descrição quadrinho e aí você consegue efetuar lances se cadastrando no nosso site.</p>

            <p style="letter-spacing: 0px; font-family: 'Courier New', Courier, monospace; font-weight: bold">O nosso site hoje está preparado para atender pessoas que tem alguma necessidade especial então nós utilizamos letras grandes e disponibilizamos atalhos no teclado para que você consiga navegar da maneira mais confortável possível.</p>
              
            <p style="letter-spacing: 0px; font-family: 'Courier New', Courier, monospace; font-weight: bold">E aí você tá esperando? Vem anunciar com a gente!</p>
            </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>