.max-h-image-sixe {
    object-fit: none;
    max-height: 600px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .7);
    right: 0%;
    left: 0%;
}

.botton-button {
    margin-bottom: 15px;
}

.carousel {
    padding-top: 3.5rem;
    min-height: 200px;
    
}

@media (max-width: 768px) {
    .carousel {
        padding-top: 3.5rem;
    }
    .img-slide {
        min-height: 300px;
    }
    .carousel-caption {
        bottom: 0px;
        font-size: 15px;
    }
    

}