<!-- Modal Gerencia Leilao -->
<div class="modal fade" id="modalGerenciaLeilao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class=" modal-content">
            <div class="modal-header bg-dark text-light">
                <h4 class="modal-title" id="exampleModalLabel">Gerenciar leilão <span id="titleQuadrinho"></span>
                </h4>
                <button type="button" id="btnFechaModalAtivaLeilao" class="close" data-dismiss="modal">
                    <span aria-hidden=" true" class="text-light pt-3">X</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <input type="hidden" id="idLeilao">
                <input type="hidden" id="idProduct">
                <input type="hidden" id="dataLeilao">
                <input type="hidden" id="idProduct">
                <input type="hidden" id="statusAuction">
                <input type="hidden" id="idStatusAuction">
                <input type="hidden" id="initialValue">
                <input type="hidden" id="currentValue">
                <div id="conteudo" class="d-none">
                    <div class="row border-bottom pb-3" id="botoesGerLeilao">
                 

                        <div class="col-3">
                            <button type="button" id="btnMostraForm" class="btn btn-warning text-light" onclick="mostraFormEditarLeilao()"
                                style="width: 100%">
                                Editar Leilão
                            </button>
                        </div>

                        <div class="col-3">
                            <button type="button"  class="btn btn-info" style="width: 100%" onclick="mostraDadosLeilao()">
                                Dados do Leilão
                            </button>
                        </div>
                        <div class="col-3">
                            <button type="button" id="btnChangeStatusAuction" class="btn btn-danger" onclick="changeStatusAuction()"
                                style="width: 100%">
                                Status Leilão
                            </button>
                        </div>

                        <div class="col-3">
                            <button type="button" id="btnCancelAuction" class="btn btn-danger" onclick="confirmaCancelamentoLeilao()"
                                style="width: 100%">
                                Cancelar Leilão
                            </button>
                        </div>



                    </div>

                    <div id="dadosLeilao" class="d-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h3 class="pt-3" id="tituloQuadrinho">
                                    </h3>
                                </div>
                                <div class="col-12" >
                                    <p id="dtInicio"></p> 
                                </div>
                                <div class="col-12" >
                                    <p id="duracaoQuadrinho"></p> 
                                </div>
                                
                                <div class="col-12" >
                                    <p id="vlrInicial"></p> 
                                </div>
                                <div class="col-12">
                                    <p id="vlrAtual"></p>
                                </div>
                                <div class="col-12">
                                    <p id="lncPadrao"></p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="gerenciarLeilao" class="d-none">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="col-12 text-center pt-3">
                                        <img class="img-fluid" id="imgModalEditLeilao" width="125px" alt="">

                                    </div>
                                </div>
                                <div class="col-12 col-md-7  text-left">
                                    <form>
                                        <div class="col-12 pt-3">
                                            <div class="form-row">
                                                <div class="form-group col-12">
                                                    <label for="títuloQuadrinho">Data inicio</label>
                                                    <input type="date" class="form-control " id="dt-inicio-editar-leilao"
                                                        placeholder="Insira o data de inicio do leilao"
                                                        onblur="verifyInputModalLeilao(this.id)">
                                                    <div class="invalid-feedback text-center d-none col-12 pt-2 text-danger"
                                                        id="aviso-erro-data">
                                                        Data de inicio inválida!
                                                    </div>
                                                </div>
                                                <div class="form-group col-12">
                                                    <label for="títuloQuadrinho" style="letter-spacing: 0px;">Duração(em
                                                        dias)</label>
                                                    <span type="button" style="float: right"
                                                        class="bg-dark px-2 text-light mr-1" data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Insira em dias o tempo de duração deste item...">
                                                        ?
                                                    </span>
                                                    <input type="text" maxlength="3" class="form-control " id="duracao-editar-leilao"
                                                        placeholder="0" onblur="verifyInputModalLeilao(this.id)">
                                                    <div class="invalid-feedback text-center d-none col-12 pt-2 text-danger"
                                                        id="aviso-erro-duracao">
                                                        Informe em dias o tempo de duração deste quadrinho!!
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                </div>

                            </div>


                            <div class="row pt-4">
                                <div class="col-12 col-md-6">
                                    <div class="form-group col-12">
                                        <label for="títuloQuadrinho" style="font-size: 19px;letter-spacing: 0px;"> Valor
                                            Inicial(R$)</label>
                                        <span type="button" style="float: right" class="bg-dark px-2 text-light mr-1"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title="Insira em reais o valor inicial deste item...">
                                            ?
                                        </span>
                                        <input type="text" class="form-control " id="vlr-inicial-editar-leilao" placeholder="R$ 0,00"
                                            onKeyPress="return(moeda(this,'.',',',event))"
                                            onblur="verifyInputModalLeilao(this.id)">
                                        <div class=" invalid-feedback text-center d-none col-12 pt-2 text-danger"
                                            id="aviso-erro-vlrInicial">
                                            Informe o valor inicial deste leilão!!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group col-12">
                                        <label for="títuloQuadrinho" style="font-size: 19px;letter-spacing: 0px;"> Lance
                                            Padrão(R$)</label>
                                        <span type="button" style="float: right" class="bg-dark px-2 text-light"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title="Insira o padrão de lance para este item (Por exemplo: se você esolher 5, os usuários so irão dar lances de 5 reais!!)...">
                                            ?
                                        </span>
                                        <input type="text" class="form-control " id="lancePadrao-editar-leilao" placeholder="R$ 0,00"
                                            onKeyPress="return(moeda(this,'.',',',event))"
                                            onblur="verifyInputModalLeilao(this.id)">
                                        <div class=" invalid-feedback text-center d-none col-12 pt-2 text-danger"
                                            id="aviso-erro-lancePadrao">
                                            Informe o valor de lance padrão para este leilão!!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <input type="button" id="btnAtivarLeilao" class="btn btn-success btn-form-modal"
                                    value="Confirmar" onclick="validFormEditarLeilao()">

                            </div>
                            <div class="col-3">
                                <input type="reset" class="btn btn-warning btn-form-modal" value="Limpar">
                            </div>


                        </div>
                    </div>

                    <div id="changeStatusAuction" class="d-none">
                        <div class="row pt-4">
                            <div class="col-12 text-left">
                   

                                <h4 id="statusProduto">
                                </h4>
                            </div>
                            <div class="col-12 text-center mt-4">
                                <h5>Mudar status do leilão para:</h5>
                            </div>
                        </div>

                        <div class="row  text-center container mt-2">
                            <div class="col-6 d-none" id="btnChangeToInactive">
                                <input type="button" value="Inativo" class="btn-danger py-1"
                                    onclick="confirmaLeilaoToStatusInactive()" style="width: 100%">

                            </div>

                            <div class="col-6 d-none" id="btnChangeToHold">
                                <input type="button" class="btn-warning py-1 text-light" value="Em espera"
                                    onclick="confirmColocarLeilaoEmEspera()" style="width: 100%">

                            </div>

                            <div class="col-6 d-none" id="btnChangeToActive">
                                <input type="button" class="btn-success py-1" value="Ativo" style="width: 100%"
                                    onclick="confirmaLeilaoToStatusActive()">

                            </div>
                        </div>
                    </div>

                </div>



            </div>
            <div class="modal-footer bg-dark">
            </div>
        </div>
    </div>
</div>